.title {
    margin-bottom: 10px;
}

.list {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 90px;
    overflow: scroll;
    scrollbar-width: none;
}