@media screen {
    .container {
        max-width: 300px;
    }
}

@media (min-width: 425px) {
    .container {
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container * {
    line-height: 1.5rem;
}

.mainItem {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.mainItem h4 {
    min-width: 150px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.item ul{
    margin-top: 0.5rem;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 90px;
}