.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper {
    width: 450px;
    height: 270px;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination .icon {
    cursor: pointer;
}

.pagination * {
    font-size: 1.1rem;
}