@font-face {
    font-family: 'Reqular';
    src: url('/font/Pretendard-Regular.otf') format("truetype");
}

:root {
    --font-mono: "Reqular";
    --main-background-color: #F3F5F4;
    --main-color-gray: rgba(33, 37, 41, 0.65);
    --main-color: rgba(33, 37, 41, 0.9);
    --border-color: rgba(255, 183, 197, 0.9);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-mono);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}